.mainInfo {
  width: 80%;
  max-width: 1200px;
}

table {
  margin-top: 3px;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

th {
  font-size: 20px;
  font-weight: 100;
}

.linkColumn {
  width: 300px;
}

.depthColumn {
  width: 75px;
  text-align: center;
}
